# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
terraform.tfvars
*.json
Infrastructure/*.json
Infrastructure/terraform.tfvars
*.tfvars

#Application
*.env
Application/.env
Application/pythonSqlVenv/
Application/__pycache__/
Application/test.py