# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
terraform.tfvars
*.json

#Application
*.env
Application/.env
Application/pythonSqlVenv/
Application/__pycache__/
Application/test.py