apiVersion: apps/v1
kind: Deployment
metadata:
  name: weather-app-deployment
  labels:
    app: weather-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: weather-app
  template:
    metadata:
      labels:
        app: weather-app
    spec:
      containers:
        - name: weather-app
          image: us-central1-docker.pkg.dev/pythonsqlapp-478016/pythonsqlapp/weather-app:test-01
          ports:
            - containerPort: 8080
          livenessProbe: 
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          resources:
            requests:
              cpu: "150m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "512Mi"
          env:
            - name: API_KEY
              valueFrom:
                secretKeyRef:
                  name: weather-app-secret
                  key: API_KEY
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: weather-app-secret
                  key: DATABASE_URL
            - name: API_BASE_URL
              valueFrom:
                configMapKeyRef:
                  name: weather-app-config
                  key: API_BASE_URL
            - name: MAX_API_RETRIES
              valueFrom:
                configMapKeyRef:
                  name: weather-app-config
                  key: MAX_API_RETRIES
            - name: RETRY_BACKOFF_FACTOR
              valueFrom:
                configMapKeyRef:
                  name: weather-app-config
                  key: RETRY_BACKOFF_FACTOR
            - name: REQUEST_TIMEOUT
              valueFrom:
                configMapKeyRef:
                  name: weather-app-config
                  key: REQUEST_TIMEOUT